@import "./../../../style/mixin";
.navigationComp{
    @include d-flex(flex-start,flex-start,column,1rem);
    background-color: #2C3E50;
    height: 100%;
    &_title{
        color: #FFFFFF;
        font-size: 3rem;
        padding: 2rem;
    }
    &_nav{
        width: 100%;
        &_menu{
            @include d-flex(flex-start,flex-start,column,2rem);
            padding-bottom: 2rem;
            width: 100%;
            &_item{
                transition: all .4s;
                border-radius: 1rem;
                width: 100%;
                padding: 1rem;
                &_link{
                    @include d-flex(flex-start,flex-start,row,.8rem);
                    color: white;
                    font-size: 1.6rem;
                }
            }
            .navigationComp_nav_menu_item:hover{
                background-color: #314559;
            }
        }
    }

}