@import "../../../style/mixin";
.stockComp {
  @include d-flex(flex-start, flex-start, column, 2rem);
  background-color: #f5f6fa;
  width: 100%;
  padding: 1rem;
  &_title {
    width: 100%;
    padding: 2rem;
    background-color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    color: #2c3e50;
  }
  &_form {
    @include d-flex(flex-start, flex-start, column, 1rem);
    width: 100%;
    padding-inline: 2rem;
    &_title {
      font-size: 2rem;
      color: #2c3e50;
    }
    &_item {
      @include d-flex(flex-start, flex-start, column, 0.3rem);
      width: 100%;
      &_label {
        font-size: 1.2rem;
        color: #364c61;
        font-weight: 500;
      }
      .stockComp_form_item_input,
      .stockComp_form_item_select {
        width: 100%;
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
      }
    }
    &_submitBtn {
      margin-top: 1.5rem;
      padding: 1rem 2rem;
      background-color: rgb(34, 136, 140);
      color: white;
      border-radius: 1rem;
    }
  }
  &_table {
    width: 100%;
    @include d-flex(flex-start, flex-start, column, 0);
    background-color: white;
    padding: 1rem;
    .stockComp_table_wrapper_head{
      border-bottom: 1px solid rgb(211, 207, 207);
          padding-block: 1rem;
    }
    &_wrapper {
      @include d-grid(1fr 1fr 1fr 1fr 1fr 1fr, 0);
      width: 100%;
      &_item {
        font-size: 1.5rem;
        text-align: start;
        &_text{
          padding-block: 1rem;
          // border: 1px solid red;
          width: 100%;
          font-size: 1.4rem;
        }
        &_input{
          font-size: 1.4rem;
          padding-block: 1rem;
          width: 100%;
          border-bottom: 1px solid #e4b228;
          text-align: start;
        }
        
      }
      &_buttons{
        @include d-flex(center,flex-start,row,1rem);
        &_item{
          padding: .5rem 1rem;
          font-size: 1.3rem;
          border-radius: 1rem;
          background-color: green;
          color: white;
        }
        .stockComp_table_wrapper_buttons_item:first-child{
          background-color: rgb(208, 52, 52);
        }
        &_item_save{
          background-color: #e4b228;
        }
      }
      
      
      
    }
    
   
  }
}
