@import "./style/mixin";
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.appHeader{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    border-bottom: 1px solid rgb(44, 4, 4);
    &_logo{
        width: 5rem;
        height: 5rem;
    }
    &_nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        &_modal{
            transition: all .7s;
            border-radius: 1rem;
            padding: 2rem ;
            position: absolute;
            z-index: 1;
            background-color: rgb(224, 199, 145);
            @include d-flex(center,center,column,1rem);
            &_title{
                width: 100%;
                text-align: center;
                font-size: 1.4rem
            }
            &_buttons{
                @include d-flex(center,center,row,.6rem);
                &_item{
                    padding: .4rem 1rem;
                    border-radius: .4rem;
                    color: white;
                    background-color: green;
                }
                .appHeader_nav_modal_buttons_item:last-child{
                    background-color: red;
                }
            }
        }
        .none_active{
            visibility: hidden;
        }
        &_logout{
            font-size: 2rem;
        }
        &_icon{
            font-size: 3rem;
        }
        &_user{
            position: relative;
            &_img{
                width: 5rem;
                height: 5rem;
                object-fit: cover;
            }
            &_circle{
                position: absolute;
                background-color: white;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0;
                bottom: 10%;
                transform: translate(0%,0%);
                &_item{
                    width: .75rem;
                    height: .75rem;
                    background-color: rgb(30, 198, 1);
                    border-radius: 50%;
                }
            }
        }
    }
}

.sideMenuAndPageContent{
display: grid;
overflow: auto;
grid-template-columns: 1fr 7fr;
align-items: flex-start;

.sideMenu{
    height: 100%;
}
}
