* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
select{
    border: none;
    outline: none;
    background: transparent;
}
input{
    border: none;
    outline: none;
    background: transparent;
}
button{
    border: none;
    cursor: pointer;
}
a{
    list-style-type: none;
    text-decoration: none;
}